 body{
margin: 0;
background: lightBlue;
font-family: 'Open Sans', sans-serif;
padding: 0;
}

.card {
    background: rgb(202, 241, 202);
    color: black;
    border-radius: 12px;
    width: 18%;
    padding: 4px;
    border: 2px solid black;
}


.search {
 display: flex;
 align-items: center;
 justify-content: center;
    }

button {
    margin: 0.5em;
   border-radius: 50%;
   border: none;
   height: 44px;
   width: 44px;
   outline: none;
   background: rgb(12, 240, 240)
   color: white;
   cursor: pointer;
   transition: 0.2s ease-in-out;
}

input.search.bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(188, 188, 188);
    color: white; 
    font-family: inherit;
    font-size: 105%;
    width: calc(100%-100px);

}
button:hover {
    background: #7c7c77c6;
}
h1.temp{
    margin: 0;
}

nav {
    text-align: center;
    font-size: 2rem;
    background: linear-gradient(35deg,teal 50%, black 90%);
    color: white;
    font-weight: 900;
    margin: 0;
    height: 40px;
    padding: 10px;
    border-bottom: 2px solid black;
}

.container {
    display: flex;
    justify-content: space-between;
    border-right: 2px solid #000;
    padding: 1em;
}

aside {
    width: 30%;
}

#history {
    display: flex;
    flex-direction: column;
}

#history button {
    border-radius: unset;
}

main {
    width: 65%;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px;
}

#current {
    border: 2px solid black;
    padding: 5px;
    background: whitesmoke;
    border-radius: 12px;
}

#forecast {
    display: flex;
    justify-content: space-around;
}
